// Forms

.form {

  margin-top: $gutter--lg*2;
    &__contact {

    }

    &.error {

    }

    &.success {
      
    }
    
    &__input {
      padding: $gutter--md;
      margin: $gutter--sm 0;
    }
    
    &__button {
      padding: $gutter--md;
      margin: $gutter--sm 0;
    }

}
