// Navigation

.nav {
    &_fab {
        position: fixed;
        right: 0;
        bottom: 0;
        padding: $gutter--md;
    }

    &_main {
        height: 100%;
        padding: $gutter--xlg $gutter--lg;

        @include break--sm {
            position: fixed;
            top: 24px;
            left: 0;
            width: 100%;
            height: calc(100% - 24px);
            transition: $transition--bezier;
            transform: translate3d(-100%, 0, 0);

            &.nav--active {
                z-index: 1;
                transform: translate3d(0%, 0, 0);
                background: rgba(color(grey, light), 1);
            }
        }
    }

    &_tags {
        padding: $gutter--md 0 $gutter--sm;

        .label {
            &--active,
            &:hover {
                color: $color--white;
                background: color(grey, base);
            }
        }
    }

    &_todo {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        z-index: 2;
        padding-bottom: $gutter--sm;

        &_projects {
            position: fixed;
            padding: $gutter--sm;
            top: 0;
            left: 0;
            width: calc(100% - #{$gutter--sm*2});
            height: calc(100% - #{$gutter--sm*2});
            margin: $gutter--sm;
            background: color(grey, dark);
            border-radius: 8px;
            z-index: 2;
        }
    }
}

//
// .nav {
//
//     &--sub {
//         position: fixed;
//         bottom: 0;
//         width: 100%;
//         border-top: 1px solid  color(grey, base);
//         padding: $gutter--sm;
//     }
//
//     &--mobile {
//         padding: $gutter--sm;
//     }
//
//     &--tags {
//         padding: $gutter--md 0 $gutter--sm;
//         .nav__item {
//             color: color(grey, base);
//             display: inline-block;
//             padding: 0 $gutter--md;
//             border-radius: $gutter--lg;
//             &--active {
//                 color: $color--white;
//                 background:  color(grey, base);
//             }
//         }
//     }
//
//     &--social {
//
//     }
//
//     &--pagination {
//
//     }
//
//     &--footer {
//
//     }
//     &__item {
//         transition: $transition--bezier;
//         border-radius: $border-radius;
//
//         &:hover {
//             background: rgba( color(grey, base) , .2);
//         }
//     }
//     &__item a {
//         font-weight: 500;
//         padding: $gutter--sm/2;
//         display: block;
//     }
// }
//
// // State: navigation opened
//
// body[data-nav="opened"] {
//
// }
//
// .dropzone {
//     transition: .2s ease-in;
//     border: 2px solid transparent;
//     border-radius: 4px;
//
//     &.active {
//         border-color: $color--blue;
//         font-weight: 900;
//     }
//
//     .sortable-ghost {
//         display: none;
//     }
// }
