// Display

.d {

    &--inl {
        display: inline;
    }

    &--inl-block {
        display: inline-block;
    }

    &--flex {
        display: flex;
    }

    &--grid {
        display: grid;
    }

    &--block {
        display: block;

        &--sm {
            @include break--sm {
                display: block !important;
            }
        }

        &--md {
            @include break--md {
        		display: block !important;
        	}
        }

        &--lg {
            @include break--lg {
        		display: block !important;
        	}
        }
    }

    &--none {
        display: none;

        &--sm {
            @include break--sm {
                display: none !important;
            }
        }

        &--md {
            @include break--md {
        		display: none !important;
        	}
        }

        &--lg {
            @include break--lg {
        		display: none !important;
        	}
        }
    }
}
