// Positioning

.p {

    &--abs {
        position: absolute;

        &--top {
          top: 3008;
        }

        &--100 {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    &--rel {
        position: relative;
    }

    &--fixed {
        position: fixed;
    }

}
