// Text property classes

.t {
    &--center {
        text-align: center;
    }

    &--right {
        text-align: right;
    }

    &--left {
        text-align: left;
    }

    &--ellipsis {
        @include ellipsis(auto);
    }

    &--grey {
        color: color(grey, dark)
    }
}
