
.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &--container {
        align-items: flex-start;
        justify-content: flex-start;
    }

    &--start {
        justify-content: flex-start;
    }

    &--multiline {
      flex-wrap: wrap;
    }

    &--reverse {
      & > *:nth-of-type(even) {
        order: -1;
      }
    }

    .col {
        display: block;
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;

        &--right {
            align-self: flex-end;
        }

        &--left {
            align-self: flex-start;
        }

        @for $i from 1 through 12 {
          &--#{$i} {
            flex-basis: ($i / 12) * 100%;
            max-width: ($i / 12) * 100%;
          }
        }
        @for $i from 1 through 12 {
          &--#{$i} {
            @include break--sm {
              &--sm {
                flex-basis: ($i / 12) * 100%;
                max-width: ($i / 12) * 100%;
              }
            }
            @include break--md {
              &--md {
                flex-basis: ($i / 12) * 100%;
                max-width: ($i / 12) * 100%;
              }
            }
            @include break--lg {
              &--lg {
                flex-basis: ($i / 12) * 100%;
                max-width: ($i / 12) * 100%;
              }
            }
          }
        }
    }

    &--center {
        display: flex;
        align-items: center;
        justify-content: center;

        &--hor {
            display: flex;
            justify-content: center;
        }

        &--vert {
            display: flex;
            align-items: center;
        }
    }
}
