
.slide-left {
    &-enter, &-leave-to {
        transform: translateX(-100%);
    }
    &-enter-active, &-leave-active {
        transition: $transition--bezier;
    }
}


.slide-right {
    &-enter, &-leave-to {
        transform: translateX(100%);
    }
    &-enter-active, &-leave-active {
        transition: $transition--bezier;
    }
}

.fade {
    &-enter, &-leave-to {
        opacity: 0;
        position: absolute;
        transform: translateY(-10%), scale(1, 0);
    }
    &-enter-active, &-leave-active {
        transition: $transition--base;
    }
}
