.button {
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    transition: $transition--base;

    // Styles
    &--black {
        @include button--color($color--white, $color--black, transparent);
    }

    // Styles
    &--black {
        @include button--color($color--white, $color--black, transparent);
    }

    &--white {
        @include button--color($color--black, $color--white, transparent);
    }

    &--yellow {
        @include button--color($color--black, $color--yellow, transparent);
    }

    &--grey {
        @include button--color(color(black, base), color(grey, light), darken(color(grey, light), 1));
    }

    &--blue {
        @include button--color(color(black, base), color(blue, dark), darken(color(grey, light), 1));
    }

    &--red {
        @include button--color(color(red, base), transparent, transparent);
        
        &:hover {
          color: color(red, dark)
        }
    }

    // Sizes
    &--sm {
        @include button--size($gutter--sm/2, $gutter--sm, $font-size--sm, $line-height--base, 0);
    }

    &--md {
        @include button--size($gutter--md, $gutter--md, $font-size--md, $line-height--base, 0);
    }

    &--lg {
        @include button--size($gutter--lg, $gutter--lg, $font-size--lg, $line-height--base, 0);
    }

    &--bordered {
        border-style: solid;
        border-width: 1px;
    }
    
    &--clear {
        padding-left: 0;
        .ic {
          margin-left: 0;
        }
    }

    &--circle {
        border-radius: 100%;
        width: 3em;
        height: 3em;
    }
    &--ic {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // button groups

    &__group {
        display: flex !important;
        flex-direction: row;
        flex-wrap: wrap;

        &--left {
            .button {
                margin: 0 $gutter--sm $gutter--sm 0;
            }
        }

        &--right {
            .button {
                margin: 0 0 $gutter--sm $gutter--sm;
            }
        }

        &--center {
            .button {
                margin: 0 $gutter--sm $gutter--sm 0;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
